:root {
  font-family: "Google Sans Flex", sans-serif !important;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-border-width: 1px;
  --main-color: #61432b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
html,
body,
#root {
  font-family: "Google Sans Flex", sans-serif !important;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.close-icon {
  color: #2e2100 !important;
}
.w100 {
  width: 100% !important;
}
.text-main-color {
  color: #4e423d;
}
.my-dropdown {
  width: 150px;
}
.my-dropdown .ant-dropdown-menu-item {
  color: #4e423d !important;
}
.text-32 {
  font-size: 32px;
}
.text-16 {
  font-size: 16px;
}
.bg-color {
  background-color: #fdfbf5 !important;
}
.out-line {
  border: none !important;
  background-color: transparent !important;
}
.main-font {
  font-family: "Google Sans Flex", sans-serif !important;
}
.showUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 10;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-1 {
  margin-top: 0.3rem !important;
}
.mt-6 {
  margin-top: 2rem !important;
}
.mt-9 {
  margin-top: 3rem !important;
}
.mt-12 {
  margin-top: 4rem !important;
}
.mt-30 {
  margin-top: 10rem !important;
}
.mt-18 {
  margin-top: 6rem !important;
}
.mt-1 {
  margin-top: 0.3rem !important;
}
.mt-24 {
  margin-top: 8rem !important;
}
.mt-36 {
  margin-top: 12rem !important;
}
.mt-42 {
  margin-top: 14rem !important;
}
.mb-36 {
  margin-bottom: 12rem !important;
}
.mb-42 {
  margin-bottom: 14rem !important;
}
.mb-24 {
  margin-bottom: 8rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important ;
}
.pb-6 {
  padding-bottom: 2rem !important;
}
.pt-2 {
  padding-top: 0.6rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-6 {
  padding-top: 2rem !important;
}
.mb-2 {
  margin-bottom: 0.6rem !important;
}
.mb-1 {
  margin-bottom: 0.3rem !important;
}
.mb-6 {
  margin-bottom: 2rem !important;
}
.mb-12 {
  margin-bottom: 4rem !important;
}
.mb-18 {
  margin-bottom: 6rem !important;
}
.mb-24 {
  margin-bottom: 8rem !important;
}
.als-start {
  align-self: flex-start;
}
.newHeight {
  height: 50px;
}
.btn {
  display: inline-block;
  min-width: 120px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 300 !important;
  height: 40px;
  text-align: center;
  padding: 0 16px;
}

.btn-primary:hover {
  border: 2px solid var(--main-color) !important;
  background-color: var(--main-color) !important;
  color: #f7f4e7 !important;
}

.btn-primary {
  border: 2px solid var(--main-color);
  background-color: #fdfbf5;
  color: var(--main-color);
}

.btn-second:hover {
  background-color: #7b4418 !important;
  color: #f7f4e7 !important;
  border: none !important;
}

.btn-second {
  border-radius: 25px;
  background-color: #a2734c;
  color: #f7f4e7;
  border: "none" !important;
}

.hover-grey:hover {
  background-color: #dbdbdbe9 !important;
}

.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  position: sticky; /* hoặc sticky nếu muốn dính khi cuộn tới */
  top: -10px;
  background-color: #fdfbf5;
  z-index: 1000; /* nằm trên cùng */
}
.animate-on-scroll {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-right {
  transform: translateX(-100px);
}

.fade-left {
  transform: translateX(100px);
}
.fade-up {
  transform: translateY(70px);
}

.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}
.fl {
  display: flex;
}
.align-center {
  align-items: center;
}
.bound {
  min-height: 100%;
  width: 100%;
  text-align: start;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.bound div {
  flex-direction: column;
  flex: 1;
  width: 100%;
}
/* Change ant-design

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #b96d2a !important;
  border-color: #b96d2a !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #b96d2a !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white !important;
}

/* Viền Input khi lỗi */
.ant-input-status-error,
.ant-input-affix-wrapper-status-error {
  border: none !important;
  box-shadow: #f89831 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
}

/* Màu chữ thông báo lỗi */
.ant-form-item-explain-error {
  color: #f89831 !important;
}

/* ================= Focus ================= */
.ant-input-affix-wrapper-focused,
.ant-select-focused .ant-select-selector,
.ant-input:focus {
  border-color: #b96d2a !important;
  box-shadow: 0 0 0 2px rgba(185, 109, 42, 0.35) !important;
}
.ant-radio-checked .ant-radio-inner {
  background-color: #b96d2a !important;
}

.ant-input-affix-wrapper-focused .ant-input-suffix {
  color: #b96d2a !important;
}
.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: #7b3d00 !important;
}
.ant-tabs-ink-bar {
  background-color: #7b3d00 !important; /* màu bạn muốn */
}
/* ================= Hover ================= */

.ant-input:hover:not(.ant-input-focused) {
  border-color: #b96d2a !important;
}
.ant-input,
.ant-select-selector,
.ant-radio .ant-radio-inner {
  border-color: #47688575 !important;
}
.ant-input-affix-wrapper:hover:not(.ant-input-affix-wrapper-focused) {
  border-color: #b96d2a !important;
}

.ant-input-affix-wrapper:hover .ant-input-suffix {
  color: #b96d2a !important;
}

/* ================= Transition ================= */
.ant-input,
.ant-input-affix-wrapper {
  transition: border-color 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
}

/* ------------------------------------ */
.custom-form .ant-form-item-label {
  padding-bottom: 2px !important; /* Mặc định là 8px, chỉnh nhỏ lại tùy ý */
}

.custom-form .form-item {
  margin-bottom: 20px;
}
.no-border {
  border: none;
  background-color: inherit;
}
.center-box {
  margin: auto;
  width: 70%;
  text-align: start;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #3e2723;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    cursor: pointer !important;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #3e2723;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    cursor: pointer !important;
  }
}
@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}
.custom-pagination .ant-pagination-item-active,
.custom-pagination .ant-pagination-item-active:hover {
  background: #f97316;
  border-color: #f97316;
  color: black;
}

.custom-pagination .ant-pagination-item-active a,
.custom-pagination .ant-pagination-item-active:hover a {
  color: black;
}

.scrollbar {
  --sb-track-color: #ffecdd;
  --sb-thumb-color: #6d4300;
  --sb-size: 5px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.notification-header {
  background: linear-gradient(135deg, #92400e 0%, #c2410c 50%, #a16207 100%);
  padding: 16px 20px;
  color: white;
  border-radius: 8px 8px 0 0;
}
.notification-footer {
  padding: 12px 20px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
  background: #fafafa;
}
.rating {
  color: #fea31b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  gap: 3px;
}
.rating img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin: 5px 0px;
  align-self: start;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.info-value {
  text-align: end;
}
.radio-vertical .ant-radio-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.radio-vertical .ant-radio {
  margin-top: 8px;
}
